<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/sidenav.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <div class="sidebar">
        <div class="logo">
            <a href="/dashboard">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="Logo">
            </a>        
        </div>
    
        <ul>
            <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>

            <li>
                <a><i class="fas fa-database"></i> Recursos </a>
                <ul class="submenu">
                    <li><a href="/dashboard/recursos/pendentes"><i class="far fa-clock"></i> Pendentes</a></li>
                    <li><a href="/dashboard/recursos/po/pendentes"><i class="far fa-clock"></i> Operacionalizações pendentes</a></li>
                    <li><a href="/dashboard/recursos/ocultos" >Ocultos</a></li>
                </ul>
            </li>
            
            
            <li>
                <a href="/dashboard/aplicacoes"><i class="fas fa-layer-group"></i> Aplicações</a>
                <ul class="submenu">
                    <li><a href="/dashboard/aplicacoes/pendentes"><i class="far fa-clock"></i> Pendentes</a></li>
                </ul>
            </li>

            <li>
                <a href="/dashboard/ferramentas"><i class="fas fa-tools"></i> Ferramentas</a>
                <ul class="submenu">
                    <li><a href="/dashboard/ferramentas/pendentes"><i class="far fa-clock"></i> Pendentes</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fas fa-comments"></i> Comentários</a>
                <ul class="submenu">
                    <li><a href="/dashboard/comentarios/pendentes"><i class="far fa-clock"></i> Pendentes</a></li>
                    <li><a href="/dashboard/comentarios/palavras-proibidas"><i class="fas fa-ban"></i> Palavras proibidas</a></li>
                </ul>
            </li>
            <li>
                <a href="/dashboard/taxonomias"><i class="fas fa-sitemap"></i> Taxonomias</a>
                <ul class="submenu">
                    <li><a href="/dashboard/taxonomias/relacoes"><i class="fas fa-link"></i> Relações</a></li>
                </ul>
            </li>
            <li><a href="/dashboard/utilizadores"><i class="fas fa-users"></i> Utilizadores</a></li>
            <li><a href="#"><i class="fas fa-envelope"></i> Mensagens</a></li>
            <li><a href="#"><i class="fas fa-file-alt"></i> Artigos</a></li>
        </ul>
    </div>
    
    <div class="content">
        <h2>Todas as aplicações</h2>
        <div>
            <input type="text" id="search" placeholder="Pesquisar...">
        </div>

        <hr></hr>

        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data de criação</th>
                    <th>Submetido por</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for app in all_apps %}
                <tr>
                    <td>{{ app.title }}</td>
                    <td>{{ app.created_at}}</td>
                    <td>{{ app.author }}</td>
                    <td>
                        <i class="fa fa-pencil"></i>
                        <i class="fas fa-trash"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>

    <script>
        function toggleSubmenu(submenuId) {
            var submenu = document.getElementById(submenuId);
            if (submenu.style.display === "block") {
                submenu.style.display = "none";
            } else {
                submenu.style.display = "block";
            }
        }

        function displayTodos() {
            // Logic to display all data in the table
        }

        function displayCientifica() {
            // Logic to display only cientifica data in the table
        }

        function displayLinguistica() {
            // Logic to display only linguistica data in the table
        }
    </script>
</body>
</html>
