/* Styles for the footer */
.footer {
    background-color:#aec03f;
    padding: 20px;
    margin-top: 10px;
}

/* Container for the footer content */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    text-align: center;
}

.footer-container span {
    margin-top: 10px; /* Adjust the top margin as needed */
    text-align: center;
    font-size: 12px;
    align-items: center;
    color: white;
}

/* Navigation links */
.footer-nav {
    margin-bottom: 10px;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}
.footer-nav button {
    color: #ffffff;
    background-color: #aec03f;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ffffff; /* Add a 1px solid white border */
    padding: 10px 20px; /* Increase padding to make the button bigger */

}


.footer-nav a:hover {
    text-decoration: underline;
}

/* Social icons */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-right: 30px;
    color: #fdfdfd;
    font-size: 35px;
}

.social-icons a:hover {
    font-size: 300%;
}

/* Additional images */
.additional-images {
    display: flex;
    align-items: center;
}

.additional-images img {
    width: 100px; /* Increase the width of the images */
    height: 100px; /* Increase the height of the images */
    margin-right: 15px; /* Add some space between images */
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

.additional-images img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
}
