/* index.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfdddd;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
}

.container h2 {
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #f9f9f9;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header .container img {
    height: 80px;
    align-items: center;
}


header h1 {
    margin: 0;
    font-size: 24px;
}




nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 18px;

}

nav ul li a:hover {
    text-decoration: underline;
}
.carousel {
    text-align: center;
    margin: 20px auto; /* Center the carousel horizontally */
    width: 80%; /* Set the width of the carousel */
}

.carousel-inner {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 10px; /* Add rounded corners to the carousel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.carousel-item {
    flex: 0 0 100%; /* Ensure each item takes up the full width */
}

.carousel-item img {
    width: 100%; /* Ensure images fill the carousel item width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire area of the carousel item */
    border-radius: 10px; /* Add rounded corners to the images */
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 20px; /* Increase the font size of the carousel control buttons */
    padding: 10px; /* Adjust the padding of the carousel control buttons */
    background-color: rgba(0, 0, 0, 0.3); /* Add a semi-transparent background */
    border: none; /* Remove border */
    border-radius: 60%; /* Make the control buttons circular */
    color: white; /* Set the color of the control button icons */
    align-items: center;
}

.carousel-control-prev {
    left: 40px; /* Adjust the position of the previous button */
}

.carousel-control-next {
    right: 20px; /* Adjust the position of the next button */
}

.carousel-item.active {
    display: flex;
    justify-content: center; /* Center the active item horizontally */
}

.carousel-item p {
    font-style: italic;
    text-align: center;
    color: #fffcfc; /* Adjust the color of the text */
}

.rectangles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: #333;
}


.rectangle {
    position: relative;
    width: calc(24% - 20px);
    margin: 1%;
    height: 540px;
    background-color: #f1f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #b4b4b4; /* Add border */
}

.rectangle img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    position: relative;
}


.image-meta {
    position: absolute;
    bottom: 390px; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 100%;
    background-color: rgba(45, 45, 45, 0.7);
    padding: 5px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

    
.rectangle:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

.rectangle i {
    font-size: 20px;
    color: white;
    cursor: pointer; /* Change cursor to pointer on hover */
    border: 1px solid #aec03f; /* Add border */
    border-radius: 50%; /* Make border circular */
    padding: 5px; /* Add padding to the icon */
    margin-left: 5px;
}

.rectangle i:hover {
    color: #aec03f; /* Change icon color on hover */
    background-color: rgba(174, 192, 63, 0.2); /* Add background color on hover */
}

.rectangle i.clicked {
    color:#aec03f; /* Change icon color when clicked */
    background-color: rgba(174, 192, 63, 0.2); /* Add background color when clicked */
}




.rectangle .buttons {
    display: flex;
    flex-direction: column;
}

.rectangle .buttons button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: #aec03f;
    border: none;
    cursor: pointer;

}

.rectangle .buttons button:hover {
    background-color: #aec03f;
    color: #fff;
}

.rectangle .buttons i {
    font-size: 14px;
    color: #ffffff;
}

.rectangle h2 {
    font-size: 19px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.rectangle p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: #aec03f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-buttons a {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-buttons a:hover {
    text-decoration: underline;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.input-group input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;

}

.input-group input:focus {
    outline: none;
    border: 1px solid #48A9A6;
}

button[type=submit] {
    width: 60%;
    background-color: #48A9A6;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;

}

button[type=submit]:hover {
    background-color: #1E4B5B;
    text-align: center;

}
.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display:inline-flex;
    margin-left: 20px; /* Adjust spacing between buttons */
}

.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.top-nav ul li a:hover {
    text-decoration: underline;
}

.testimonial{
    background-color: #1E4B5B;
    width: auto;
    height: 100%;
}



