/* Add your custom CSS styles here */


/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}
.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 45px;
}
.header-governo {
    text-align: center; /* Center-align the content */
    background-color: #dfdddd;
    height: 40px;
    font-size: 12px;
}

.header-governo img {
    width: 70px; /* Adjust the width of the image as needed */
    vertical-align: middle; /* Align the image vertically with the text */
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden; /* Clearfix for floating elements */
}


.sub-container {
    width: 80%;
    margin: auto;
    overflow: hidden; /* Clearfix for floating elements */
    background-color: #48a9a6;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

/* Form styling */
.input-group {
    margin-bottom: 20px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
}

label {
    display: block;
    margin-top: 8px;
}

.input-group input[type="text"],
.input-group textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group textarea {
    height: 120px;
}

.input-group input[type="text"]:focus,
.input-group textarea:focus {
    border-color: #48a9a6;
}
.text-danger {
    color: red;
    font-size: 90%; /* Adjust the font size as needed */
}

.small-text {
    font-size: 90%; /* Adjust the font size as needed */
    color: #b4b4b4;
}

/* Button group styling */
.button-group {
    display: flex;
    justify-content: center;
}

button {
    padding: 12px 30px;
    background-color: #aec03f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

button:hover {
    background-color: #9dad39;
}

/* Checkbox and radio button styling */
.checkbox-group,
.radio-group {
    margin-bottom: 20px;
}

.checkbox-group label,
.radio-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.checkbox-group input[type="checkbox"],
.radio-group input[type="radio"] {
    display: none;
}

.checkbox-group label,
.radio-group label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.checkbox-group label:before,
.radio-group label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #aec03f;;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-group input[type="checkbox"]:checked + label:before,
.radio-group input[type="radio"]:checked + label:before {
    background-color: #aec03f;;
}




/* Specific input group styling */
.input-group-aut,
.input-group-org {
    display: inline-block;
    vertical-align: top; /* Align them to the top */
    width: calc(50% - 5px); /* Adjust the width to fit side by side with some spacing */
    margin-bottom: 10px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
}

.input-group-aut label,
.input-group-org label {
    width: 30%; /* Adjust label width if needed */
    margin-right: 5%; /* Add some space between the label and input */
    text-align: right; /* Align label text to the right */
    
}

.input-group-aut input,
.input-group-org input {
    flex: 1;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
    
}


.input-group-aut input:focus,
.input-group-org input:focus {
    border-color: #48a9a6;
}
.input-group-aut input::placeholder {
    color: #999; /* Adjust placeholder text color */
    font-style: italic; /* Optionally, apply italic style to placeholder text */
    /* Add any other styles you want for the placeholder */
}

/* Additional styling for new classes */
.input-group-format,
.input-group-local,
.input-group-use,
.input-group-req,
.input-group-lang,
.input-group-tema,
.input-group-categ,
.input-group-system {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
}

.input-group-format label{
    clear: both;
}
.input-group-local label,
.input-group-use label,
.input-group-req label,
.input-group-lang label,
.input-group-tema label,
.input-group-categ label ,
.input-group-system label {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
}

.input-group-format input[type="checkbox"],
.input-group-local input[type="radio"],
.input-group-use input[type="checkbox"],
.input-group-req input[type="checkbox"],
.input-group-lang input[type="radio"],
.input-group-tema input[type="checkbox"],
.input-group-categ input[type="checkbox"],
.input-group-system input[type="checkbox"] {
    display: none;
}

.input-group-format label,
.input-group-local label,
.input-group-use label,
.input-group-req label,
.input-group-lang label,
.input-group-tema label, 
.input-group-categ label ,
.input-group-system label{
    position:relative;
    padding-left: 30px;
    cursor: pointer;

}

.input-group-format label:before,
.input-group-local label:before,
.input-group-use label:before,
.input-group-req label:before,
.input-group-lang label:before,
.input-group-tema label:before,
.input-group-categ label:before ,
.input-group-system label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #aec03f;;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group-format input[type="checkbox"]:checked + label:before,
.input-group-local input[type="radio"]:checked + label:before,
.input-group-use input[type="checkbox"]:checked + label:before,
.input-group-req input[type="checkbox"]:checked + label:before,
.input-group-lang input[type="radio"]:checked + label:before,
.input-group-tema input[type="checkbox"]:checked + label:before,
.input-group-categ input[type="checkbox"]:checked + label:before,
.input-group-system input[type="checkbox"]:checked + label:before {
    background-color: #aec03f;;
}


