/* index.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F4F8;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
}
.container h2 {
    text-align: center;
}

header {
    background-color: #48A9A6;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header .container img {
    height: 80px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    display: flex;
}

.carousel-item p {
    font-style: italic;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.4);
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.rectangles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rectangle {
    width: calc(23% - 20px);
    margin: 1%;
    background-color: #48A9A6;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.rectangle:hover {
    transform: scale(1.1);
    z-index: 1;
}

.rectangle img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.rectangle .buttons {
    display: flex;
    flex-direction: column;
}

.rectangle .buttons button {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #2D728F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rectangle .buttons button:hover {
    background-color: #1E4B5B;
}

.rectangle .buttons i {
    font-size: 24px;
    color: #fff;
    margin-bottom: 5px;
}

footer {
    background-color: #48A9A6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.input-group input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;

}

.input-group input:focus {
    outline: none;
    border: 1px solid #48A9A6;
}

button[type=submit] {
    width: 60%;
    background-color: #48A9A6;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;

}

button[type=submit]:hover {
    background-color: #1E4B5B;
    text-align: center;

}
.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display:inline-flex;
    margin-left: 20px; /* Adjust spacing between buttons */
}

.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.top-nav ul li a:hover {
    text-decoration: underline;
}
/* New Left Dashboard Menu CSS */

.left-menu {
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.menu-toggle {
    padding: 20px;
    text-align: center;
}

.menu-toggle-button {
    border: none;
    background: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-items a:hover {
    background-color: #f5f5f5;
}
 /* Main content styles */
 main {
    padding: 20px;
}

.options-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.options-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.options-menu a:hover {
    border-bottom-color: #48A9A6;
}
/* Add custom CSS styles */

/* Header styles */
header-profile {
    background-color: #48A9A6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative; /* Add position relative to the header */
}

header-profile .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header-profile img {
    height: 10px !important;
    
}

/* Profile image styles */
.profile-icon {
    position: absolute; /* Position the profile icon */
    top: 50%; /* Position it in the center vertically */
    left: 50%; /* Position it in the center horizontally */
    transform: translate(-50%, -50%); /* Center it precisely */
    width: 100px; /* Set the width and height */
    height: 100px;
    border-radius: 50%; /* Make it round */
    overflow: hidden; /* Hide any overflow */
    box-shadow: 0 0 0 5px #fff; /* Add a white border */
    margin-top: 80px;
}

.profile-icon img {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}
.profile-details {
    text-align: center;
}

.profile-counts {
    display: flex; /* Display counts horizontally */
    justify-content: center; /* Center counts horizontally */
    align-items: center; /* Center counts vertically */
    margin-top: 50px; /* Add some margin */
}

.profile-counts p {
    margin: 0 10px; /* Add spacing between counts */

}


