
nav ul li a {
    text-decoration: none;
    color: #231616;
    font-size: 18px;
}

.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 45px;
}


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #a0af3b;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


button.resource {
    padding: 10px 20px; /* Adjust padding for the button */
    background-color: #83ae03; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 14px; /* Adjust font size */
    margin-bottom: 10px; /* Space below the button */
}

button.resource:hover {
    background-color: #6f9802; /* Button background color on hover */
}
.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    padding: 10px;
    margin-right: 10px; /* Adjust spacing between input and button */
    width: 50%; /* Adjust width of input */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 250px;
    margin-bottom: 10px;
}

.search-container button {
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
    background-color: #aec03f;
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}

.search-container button:hover {
    background-color: #a0af3b;
}
#advancedSearchOptions {
    margin-top: 15px; /* Adjust spacing between search bar and advanced search options */
    display: inline-block; /* Use flexbox for alignment */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    gap: 0px; /* Add space between items */
    font-size: 10px;
    
}

#advancedSearchOptions label {
    color: black;
    display: inline-block;
}

#advancedSearchOptions select,
#advancedSearchOptions input[type="text"] {
    width: calc(20% - 10px); /* Adjust width of input elements */
    padding: 8px; /* Adjust padding for input elements */
    border: 1px solid #ccc; /* Add border to input elements */
    margin-bottom: 10px; /* Space below input elements */
}

#advancedSearchOptions button {
    padding: 10px 20px; /* Adjust padding for button */
    background-color: #83ae03; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius to button */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px; /* Adjust spacing between button and input elements */
    align-self: flex-end; /* Align button to the bottom of the container */
}

#advancedSearchOptions button:hover {
    background-color: #6f9802; /* Button background color on hover */
}
#advancedSearchBtn {
    border: none;
    background: none;
    color: rgb(0, 0, 0); /* Change color as needed */
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    margin-left: 1000px;
}

#advancedSearchBtn:hover {
    color:#a0af3b; /* Change color on hover if needed */
}

.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display:inline-flex;
    margin-left: 20px; /* Adjust spacing between buttons */
}

.top-nav ul li a {
    text-decoration: none;
    color: #313131;
    font-size: 14px;
}

.top-nav ul li a:hover {
    text-decoration: underline;
}
.order-resources{
    text-align: right;
    margin-bottom: 15px;
}
/* CSS for Advanced Search */


