
nav ul li a {
    text-decoration: none;
    color: #231616;
    font-size: 18px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #a0af3b;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    padding: 10px;
    margin-right: 10px; /* Adjust spacing between input and button */
    width: 50%; /* Adjust width of input */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 250px;
    margin-bottom: 10px;
}

.search-container button {
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
    background-color: #aec03f;
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}

.search-container button:hover {
    background-color: #a0af3b;
}
.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display:inline-flex;
    margin-left: 20px; /* Adjust spacing between buttons */
}

.top-nav ul li a {
    text-decoration: none;
    color: #313131;
    font-size: 14px;
}

.top-nav ul li a:hover {
    text-decoration: underline;
}
.order-resources{
    text-align: right;
    margin-bottom: 15px;
}
/* CSS for Advanced Search */
#advancedSearchOptions {
    margin-top: 10px; /* Adjust spacing between search bar and advanced search options */
    display: none; /* Initially hide advanced search options */
}

#advancedSearchOptions label {
    display: inline-block; /* Display labels horizontally */
    margin-right: 10px; /* Adjust spacing between labels */
    font-weight: bold;
    color: black;
}

#advancedSearchOptions select, 
#advancedSearchOptions input[type="text"] {
    margin-bottom: 10px;
    width: calc(80% - 10px); /* Adjust width of input elements */
    padding: 8px; /* Adjust padding for input elements */
    border: 1px solid #ccc; /* Add border to input elements */
    border-radius: 5px; /* Add border radius to input elements */
}

#advancedSearchOptions select {
    width: calc(20% - 10px); /* Adjust width of select dropdowns */
}

#advancedSearchOptions button {
    padding: 10px 20px; /* Adjust padding for button */
    background-color: #83ae03; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius to button */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px; /* Adjust spacing between button and input elements */
}

#advancedSearchOptions button:hover {
    background-color: #6f9802; /* Button background color on hover */
}

