<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meu perfil - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="https://cdn.jsdelivr.net/npm/gg-icons/compiled/icons.css" rel="stylesheet">
    <style>

        .checked {
            color: orange;
        }
        .rating {
            color: #ffc107; /* Color of the stars */
            font-size: 10px; /* Adjust the size of the stars */
            margin-left: 170px;

        }
    </style>
    <!-- Add other necessary CSS links -->
   
</head>
<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="profile-info">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                    <li><a href="/resources">Recursos</a></li>
                    <li><a href="/myaccount">Minha conta</a></li>
                    <li><a href="/novorecurso">Novo Recurso</a></li>
                </ul>
            </nav>
            <!-- Top Right Navigation -->
            <nav class="top-nav">
                <ul>
                    <li><a href="#" onclick="openLoginModal()">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <!-- Profile Header -->
            <div class="header-profile">
                
                <div class="profile-icon">
                    <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="Profile Icon">
                    
                </div>
                <div class="profile-details">
                    
                    <div class="profile-counts">
                        <p>100 Recursos </p>
                        <p>50 Aplicações </p>
                        <p>20 Ferramentas</p>
                    </div>
                </div>
                 <!-- Options Menu -->
                <div class="options-menu">
                    <a href="#my-resources">Meus recursos</a>
                    <a href="#my-proposals">Minhas propostas de op.</a>
                    <a href="#my-apps">Minhas aplicações</a>
                    <a href="#my-tools">Minhas ferramentas</a>
                </div>
            </div>

           

            <!-- Content Sections -->
            <section id="my-resources" class="content-section">
                <!-- Content for "Meus Recursos" section -->
                <!-- Display user's resources here -->
                <h1>Meus recursos</h1>
                <p>1729 resultados </p>
                <button-pag href="/novorecurso"> + Novo recurso </button-pag>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Search...">
                    <button onclick="searchResources()">Search</button>
                </div>
                <div class="rectangles">
                    <div class="rectangle">
                        <img src="{{ url_for('static', filename='images/identity-bg.jpg') }}" alt="Image 1">
                        <span class="image-meta">Geografia</span>
    
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-flag"></i>
                        <h2>Diferença entre clima e estado de tempo</h2>
                        <p>Vídeo sobre as diferenças entre os conceitos de clima e de estado...</p>
                        <div class="buttons">
                            <a href="/resources/details"><button>Ver recurso</button></a>
                            <button>Editar recurso</button>
                            <button>Adicionar propostas de operacionalização</button>
                        </div>
                        <p>21 de Março 2024</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>Simulação</p>
                        
                    </div>
                    <div class="rectangle">
                        <img src="{{ url_for('static', filename='images/identity-bg.jpg') }}" alt="Image 1">
                        <span class="image-meta">Geografia</span>
    
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-flag"></i>
                        <h2>Diferença entre clima e estado de tempo</h2>
                        <p>Vídeo sobre as diferenças entre os conceitos de clima e de estado...</p>
                        <div class="buttons">
                            <a href="/resources/details"><button>Ver recurso</button></a>
                            <button>Editar recurso</button>
                            <button>Adicionar propostas de operacionalização</button>
                        </div>
                        <p>21 de Março 2024</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>Simulação</p>
                        
                    </div>
                    <div class="rectangle">
                        <img src="{{ url_for('static', filename='images/identity-bg.jpg') }}" alt="Image 1">
                        <span class="image-meta">Geografia</span>
    
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-flag"></i>
                        <h2>Diferença entre clima e estado de tempo</h2>
                        <p>Vídeo sobre as diferenças entre os conceitos de clima e de estado...</p>
                        <div class="buttons">
                            <a href="/resources/details"><button>Ver recurso</button></a>
                            <button>Editar recurso</button>
                            <button>Adicionar propostas de operacionalização</button>
                        </div>
                        <p>21 de Março 2024</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>Simulação</p>
                        
                    </div>
                    <div class="rectangle">
                        <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Image 1">
                        <h2>Titulo</h2>
                        <p>Descricao</p>
                        <div class="buttons">
                            <a href="/resources/details"><button>Ver recurso</button></a>
                            <button>Editar recurso</button>
                            <button>Adicionar propostas de operacionalização</button>
                        </div>
                        <p>21 de Março 2024</p>
                        <p>Simulação</p>
                    </div>
                    
                </div>
                
                <div class="pagination">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <!-- Add more pagination links as needed -->
                </div>
                <div class="pagination">
                    <button-pag onclick="previousPage()">Previous</button-pag>
                    <button-pag onclick="nextPage()">Next</button-pag>
                </div>
                <!-- Repeat the above rectangle for each resource -->
            </section>
            <section id="my-proposals" class="content-section" style="display: none;">
                <!-- Content for "Minhas Propostas" section -->
                <h1>Minhas propostas de op.</h1>
                <h3>1739 resultados <h3>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Search...">
                    <button onclick="searchResources()">Search</button>
                </div>
                    
                <div class="proposta-card">
                    <h3>"C'est ma terre", de Christophe Maé"
                    </h3>
                    <p>Criado a 7 maio 2024 18:00</p>
                    <p>Esta canção poderá ser útil para introdução,de temas relacionados com o ambiente e a ecologia ou para consolidação ou revisão de aprendizagens que sobre eles incidam.</p>
                    <button>Ver </button>
                    <button>Adicionar proposta</button>
                    <button>Gerir propostas</button>
                </div>

                <div class="proposta-card">
                    <h3>Questionário sobre a União Europeia
                    </h3>
                    <p>Criado a 7 maio 2024 18:00</p>
                    <p>Questionário sobre alguns dos aspetos mais significativos da União Europeia. Estão disponíveis dois níveis de dificuldade: principiante e especialista.</p>
                    <button>Ver </button>
                    <button>Adicionar proposta</button>
                    <button>Gerir propostas</button>
                </div>

            </section>
            <section id="my-apps" class="content-section" style="display: none;">
                <!-- Content for "Minhas Propostas" section -->
                <h2>minhas apps</h2>
                <p>This is the content for apps...</p>
            </section>
            <section id="my-tools" class="content-section" style="display: none;">
                <!-- Content for "Minhas Propostas" section -->
                <h1>Minhas ferramentas.</h1>
                <h3>12 resultados <h3>

                <div class="tool-card">
                    <h3>Tool Name 1</h3>
                    <p>Description of Tool 1</p>
                    <button>Use Tool</button>
                </div>
                <!-- Tool 2 -->
                <div class="tool-card">
                    <h3>Tool Name 2</h3>
                    <p>Description of Tool 2</p>
                    <button>Use Tool</button>
                </div><div class="tool-card">
                    <h3>Tool Name 1</h3>
                    <p>Description of Tool 1</p>
                    <button>Use Tool</button>
                </div>
                <!-- Tool 2 -->
                <div class="tool-card">
                    <h3>Tool Name 2</h3>
                    <p>Description of Tool 2</p>
                    <button>Use Tool</button>
                </div>
            </section>

            <!-- Repeat similar content sections for other options -->

        </div>
    </main>

    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <h2>Login</h2>
            <form>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/ajuda">Ajuda</a>
                <a href="#">Ficha Técnica</a>
                <a href="/politica-privacidade">Política de Privacidade</a>
                <button>Click me </button>

            </div>
            
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
            
            <div class="additional-images">
                <img src="static/images/dre_transparent.png" alt="Image 1">
                <img src="static/images/gov_acores_transparent.png" alt="Image 2">
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        // Get the login modal
        var loginModal = document.getElementById("loginModal");

        // When the user clicks the button, open the login modal
        function openLoginModal() {
            loginModal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the login modal
        function closeLoginModal() {
            loginModal.style.display = "none";
        }

        // Toggle hamburger menu
        function toggleMenu() {
            var menuItems = document.querySelector('.menu-items');
            menuItems.classList.toggle('active');
        }

        // Get all menu options
        const menuOptions = document.querySelectorAll('.options-menu a');

        // Add click event listeners to menu options
        menuOptions.forEach(option => {
            option.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent default anchor behavior
                console.log("Menu option clicked"); // Log a message to the console
                // Get the target section from the href attribute
                const targetSectionId = option.getAttribute('href').substring(1); // Remove the # from the href
                console.log("Target section:", targetSectionId); // Log the target section ID
                // Get all content sections inside the event listener function
                const contentSections = document.querySelectorAll('.content-section');
                // Hide all content sections
                contentSections.forEach(section => {
                    section.style.display = 'none';
                });
                // Show the target section
                document.getElementById(targetSectionId).style.display = 'block';
            });
        });




    </script>
</body>
</html>
