<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo/Editar recurso - REDA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/gg-icons/compiled/icons.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/agr3kxwxb5hnsedd9yd0re9bxz0346mtqq1xe1u6ethrlj9a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    <style>
        .container2 {
            background-image: url('{{ url_for('static', filename='images/new-form-bg.jpg') }}');
            background-size: cover;
            background-position: center;
            text-align: center;
            padding: 40px 0;
            color: #fff;
        }
        .keyword-input-container input {
            width: calc(80% - 80px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .keyword-input-container button {
            padding: 10px 20px;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            font-size: 14px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .keyword-item {
            display: inline-block;
            padding: 5px;
            margin: 5px;
            background-color: #f1f1f1;
            border-radius: 5px;
        }
        .keyword-item button {
            background-color: red;
            color: white;
            border: none;
            padding: 2px 5px;
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function fetchDisciplinas() {
            let selectedAnos = [];
            $('input[name="anos"]:checked').each(function() {
                selectedAnos.push($(this).val());
            });

            $.get('/fetch_disciplinas', {ano: selectedAnos.join(',')}, function(data) {
                let disciplinasContainer = $('#disciplinasContainer');
                disciplinasContainer.empty();
                data.forEach(function(disciplina) {
                    disciplinasContainer.append(`
                        <input type="checkbox" id="disciplina${disciplina}" name="disciplinas" value="${disciplina}" onchange="fetchDominios('${disciplina}')">
                        <label for="disciplina${disciplina}">${disciplina}</label>
                    `);
                });
            });
        }

        function fetchDominios(disciplina) {
            $.get('/fetch_dominios', {disciplina: disciplina}, function(data) {
                let dominiosContainer = $('#dominiosContainer');
                dominiosContainer.empty();
                data.forEach(function(dominio) {
                    dominiosContainer.append(`
                        <input type="checkbox" id="dominio${dominio}" name="dominios" value="${dominio}" onchange="fetchSubdominios('${dominio}')">
                        <label for="dominio${dominio}">${dominio}</label>
                    `);
                });
            });
        }

        function fetchSubdominios(dominio) {
            $.get('/fetch_subdominios', {dominio: dominio}, function(data) {
                let subdominiosContainer = $('#subdominiosContainer');
                subdominiosContainer.empty();
                data.forEach(function(subdominio) {
                    subdominiosContainer.append(`
                        <input type="checkbox" id="subdominio${subdominio}" name="subdominios" value="${subdominio}" onchange="fetchConceitos('${subdominio}')">
                        <label for="subdominio${subdominio}">${subdominio}</label>
                    `);
                });
            });
        }

        function fetchConceitos(subdominio) {
            $.get('/fetch_conceitos', {subdominio: subdominio}, function(data) {
                let conceitosContainer = $('#conceitosContainer');
                conceitosContainer.empty();
                data.forEach(function(conceito) {
                    conceitosContainer.append(`
                        <input type="checkbox" id="conceito${conceito}" name="conceitos" value="${conceito}" onchange="addKeyword('${conceito}')">
                        <label for="conceito${conceito}">${conceito}</label>
                    `);
                });
            });
        }

        $(document).ready(function() {
            $('input[name="anos"]').change(function() {
                fetchDisciplinas();
            });
        });

        // Initialize TinyMCE editor
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            toolbar: 'undo redo | styleselect | bold italic | bullist numlist',
            menubar: false,
            setup: function (editor) {
                editor.on('input', function () {
                    updateCounter(editor);
                });
                editor.on('keyup', function () {
                    updateCounter(editor);
                });
                editor.on('change', function () {
                    updateCounter(editor);
                });
            }
        });

        // Function to update the character counter
        function updateCounter(editor) {
            const maxLength = editor.getElement().maxLength || 1500;
            const content = editor.getContent({ format: 'text' }).trim();
            const currentLength = content.length;
            const counterEle = document.getElementById('counter');
            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        }

        let keywords = [];

        function addKeyword(keyword) {
            if (typeof keyword === 'undefined') {
                const keywordInput = document.getElementById('keywordInput');
                keyword = keywordInput.value.trim();
                keywordInput.value = '';
            }

            if (keyword && !keywords.includes(keyword) && keywords.length < 5) {
                keywords.push(keyword);
                updateKeywordsContainer();
            } else if (keywords.length >= 5) {
                alert('Você só pode adicionar até 5 palavras-chave.');
            } else if (keywords.includes(keyword)) {
                alert('Essa palavra-chave já foi adicionada.');
            }
        }

        function removeKeyword(keyword) {
            keywords = keywords.filter(k => k !== keyword);
            updateKeywordsContainer();
        }

        function updateKeywordsContainer() {
            const keywordsContainer = document.getElementById('keywordsContainer');
            keywordsContainer.innerHTML = '';
            keywords.forEach(keyword => {
                const keywordElement = document.createElement('div');
                keywordElement.className = 'keyword-item';
                keywordElement.innerHTML = `
                    ${keyword} <button type="button" onclick="removeKeyword('${keyword}')">X</button>
                `;
                keywordsContainer.appendChild(keywordElement);
            });
        }

        $(document).ready(function() {
            $('input[name="anos"]').change(function() {
                var selectedAno = $(this).val();
                fetchData(selectedAno);
            });

            function fetchData(ano) {
                $.ajax({
                    url: '/novorecurso2',
                    type: 'GET',
                    data: { ano: ano },
                    dataType: 'json',
                    success: function(data) {
                        console.log('AJAX Success:', data); // Debug logging
                        populateDisciplinas(data.disciplinas); // Assuming 'disciplinas' is the key in your JSON response
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }

            function populateDisciplinas(disciplinas) {
                var disciplinasContainer = $('#disciplinas-checkboxes');
                disciplinasContainer.empty(); // Clear previous content

                if (disciplinas.length > 0) {
                    disciplinasContainer.append('<h2>Disciplinas:</h2>');
                    disciplinas.forEach(function(item, index) {
                        disciplinasContainer.append(`
                            <div class="checkbox-item">
                                <input type="checkbox" id="disciplina${index}" name="disciplinas" value="${item}" onchange="fetchDominios('${item}')">
                                <label for="disciplina${index}">${item}</label>
                            </div>
                        `);
                    });
                } else {
                    disciplinasContainer.append('<p>No disciplinas available.</p>');
                }
            }
        });
    </script>
</head>
<body>
    <div class="header-governo">
        <img src="{{ url_for('static', filename='images/logo.GOV-AZORES.2019.png') }}" alt="Governo dos Açores">
        <span> Esta é uma presença oficial do <a href="https://portal.azores.gov.pt">Governo dos Açores</a> </span>
    </div>
    <header>
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">
            </a>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                </ul>
            </nav>
            <nav class="top-nav">
                <ul>
                    {% if admin %}
                        <!-- Render admin-specific links or buttons -->
                        <li><a href="/myaccount">Minha Conta</a></li>

                        <li><a href="/dashboard" target="_blank">Administração</a></li>
                        <li><a href="/logout">Sair</a></li>
                    {% else %}
                        <!-- Render non-admin links or buttons -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registar</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="container2">
        <h1>Novo recurso</h1>
        <p>Detalhes > Metadados </p>
    </div>
    <main>
        <div class="container">
            <h1>Detalhes</h1>
            
            <div class="input-group-escolaridade required">
                <h2>Ano de Escolaridade:</h2>
                {% for ano in anos %}
                    <input type="checkbox" id="ano{{ loop.index }}" name="anos" value="{{ ano }}">
                    <label for="ano{{ loop.index }}">{{ ano }}</label>
                {% endfor %}
            </div>
        
            <div class="input-group-disci required">
                <h2>Disciplinas:</h2>
                <div id="disciplinasContainer">
                    <!-- Disciplinas checkboxes will be populated dynamically by JavaScript -->
                </div>
            </div>
        
            <div class="input-group-domain required">
                <h2>Dominios:</h2>
                <div id="dominiosContainer">
                    <!-- Dominios checkboxes will be populated dynamically by JavaScript -->
                </div>
            </div>
            
            <div class="input-group-domain required">
                <h2>Subdominios:</h2>
                <div id="subdominiosContainer">
                    <!-- Dominios checkboxes will be populated dynamically by JavaScript -->
                </div>
            </div>
        
            <div class="input-group-domain required">
                <h2>Conceitos:</h2>
                <div id="conceitosContainer">
                    <!-- Dominios checkboxes will be populated dynamically by JavaScript -->
                </div>
            </div>
            <div class="input-group-conceitos">
                <h2>Outros conceitos:</h2>
                <div class="keyword-input-container">
                    <input type="text" id="keywordInput" placeholder="Digite uma palavra-chave" maxlength="20">
                    <button type="button" onclick="addKeyword()">Adicionar</button>
                </div>
                <div id="keywordsContainer"></div>
                <small class="small-text">Pode adicionar até 5 palavras-chave.</small>
            </div>
            
            
            <div class="input-group-descricao-proposta required">
                <h2>Descrição da proposta de operacionalização:</h2>
                    <div id="editor-container" style="height: 300px;"></div>
                    <textarea id="descricao" name="descricao" style="display: none;"></textarea>
                    <div id="counter"></div>
                    <small class="small-text">Deve ter no mínimo 20 caracteres e no máximo 1500</small>
            </div>
            <div class="input-group-helpfile">
                <h2>Documento de apoio:</h2>
                <input type="file" id="ficheiro" name="ficheiro">
            </div>
            <div class="input-group-destinatario">
                <h2>Destinatarios:</h2>
            </div>
            <!-- Terms and Conditions -->
            <div class="terms-and-conditions">
                <p><strong>Termos e condições</strong></p>
                <p>
                    Aceito os "Termos e condições" e autorizo que o conteúdo seja distribuído sob os termos da licença Creative Commons com a Atribuição designada como Atribuição-Não Comercial-Compartilha Igual (CC BY-NC-SA).
                </p>
                <ul>
                    <li>Mantenho os direitos autorais do trabalho submetido;</li>
                    <li>Sou o autor ou o proprietário da obra ou tenho a permissão do autor para a distribuir;</li>
                    <li>Pretendo que este trabalho seja distribuído sob os termos da licença CC-BY-NC-SA.</li>
                </ul>
                <!-- Image linking to CC BY-NC-SA license -->
                <div class="cc-license">
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                        <img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" alt="CC BY-NC-SA 4.0 License">
                    </a>
                </div>
            </div>
            
            <div class="accept-terms">
                <input type="checkbox" id="acceptTerms" name="acceptTerms">
                <label for="acceptTerms">Aceito os Termos e Condições</label>
            </div>
            <small class="small-text">
                <span class="text-danger">*</span>
                Campo obrigatório
            </small>
            <button type="submit">Criar recurso</button>
            <button type="submit">Cancelar</button>
        </div>
                
    </main>
    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <i class="fas fa-user user-icon"></i>
            <h2>Login</h2>
            <form>
                <div class="login-input">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="login-input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="button-container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/ajuda">Ajuda</a>
                <a href="#">Ficha Técnica</a>
                <a href="/politica-privacidade">Política de Privacidade</a>
                <a href="/faleconnosco">
                    <button>Fale connosco</button>
                </a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
            <div class="additional-images">
                <img src="{{ url_for('static', filename='images/dre_transparent.png') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='images/gov_acores_transparent.png') }}" alt="Image 2">
            </div>
            <span> © Direção Regional da Educação - Secretaria Regional da Educação e dos Assuntos Culturais </span>
        </div>
    </footer>
    <script>
        var quill = new Quill('#editor-container', {
            theme: 'snow',  // Use 'snow' theme for a cleaner editor interface
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['link', 'image'],
                    ['clean']                                         // Remove formatting button.
                ]
            }
        });
    
        // Sync Quill's content to the hidden textarea
        quill.on('text-change', function() {
            document.getElementById('descricao').value = quill.root.innerHTML;
            updateCounter();
        });
    
        // Function to update the character counter
        function updateCounter() {
            const maxLength = 1500;
            const content = quill.getText().trim();
            const currentLength = content.length;
            const counterEle = document.getElementById('counter');
            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        }
    </script>
    
    
</body>
</html>
