<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource2.css') }}">

    <title>Novo/Editar recurso - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}" >

    <!-- Link to TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/hcsdmgk5ojfti5cengfoxv1zfkb2t21ei6ue2obbe85k8lst/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        // Initialize TinyMCE editor
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            toolbar: 'undo redo | styleselect | bold italic | bullist numlist',
            menubar: false
        });
    </script>
    <style>
        .container2 {
            background-image: url('static/images/new-form-bg.jpg');
            background-size: cover; /* Adjust the background size */
            background-position: center; /* Center the background image */
            text-align: center; /* Center the text horizontally */
            padding: 40px 0; /* Add padding for better spacing */
            color: #fff; /* Change text color to white for better contrast */
        }
        .required {
            position: relative;
        }
        
        .required::after {
            content: '*';
            position: absolute;
            top: 0;
            right:absolute;
            color: red;
            font-size: 1.4rem;
            line-height: 0.3;
        }
    </style>

    
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">

            <!-- second div , above the header div with background image-->
            
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                    <li><a href="/resources">Recursos</a></li>
                    <li><a href="/myaccount">Minha conta</a></li>
                    <li><a href="/novorecurso">Novo Recurso</a></li>

                </ul>
            </nav>
            <nav class="top-nav">
                <ul>
                    <li><a href="#" onclick="openLoginModal()">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container2">
        <h1>Novo recurso</h1>
        <p>Detalhes > Metadados </p>
        <img src="" alt="">
    </div>
    <main>
        <div class="container">
            <h1>Detalhes</h1>
            <div class="input-group-escolaridade required">
                <h2>Ano de Escolaridade:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/escolaridade.js') }}"></script>

            </div>
            <div class="input-group-disci required">
                <h2>Disciplinas:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/disciplinas.js') }}"></script>
            </div>
            <div class="input-group-domain required">
                <h2>Dominios:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/dominios.js') }}"></script>
            </div>
            <div class="input-group-subdomain required">
                <h2>Subdominios:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/subdominios.js') }}"></script>
            </div>
            <div class="input-group-concept required">
                <h2>Conceitos:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/conceitos.js') }}"></script>
            </div>

            <div class="input-group-conceitos ">
                <h2>Outros conceitos:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/conceitos.js') }}"></script>
            </div>

            <div class="input-group-descricao-proposta required">
                <h2>Descrição da proposta de operacionalização:</h2>
    
                <textarea id="descricao" name="descricao" rows="5" class="tinymce" required></textarea>
            </div>
           
            <div class="input-group-helpfile">
                <h2>Documento de apoio:</h2>
                <input type="file" id="ficheiro" name="ficheiro" >
               
                <!-- Add more radio options as needed -->
            </div>
            <div class="input-group-destinatario">
                <h2>Destinatarios:</h2>
                <script src="{{ url_for('static', filename='js/scripts/new_resource/dominios.js') }}"></script>

                <!-- Add more radio options as needed -->
            </div>
            <small class="small-text">
                <span class="text-danger">*</span>
                Campo obrigatório
            </small>
            
            <button type="submit">Criar recurso</button>
            <button type="submit">Cancelar</button>

        </div>
    </main>
     <!-- Footer -->
     <footer>
        <div class="container">
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
