<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_resource.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-9Lf9+4Mjcjy5uDZ4AdK6GhpOj76lwhVbl2+uYvs1zLoXgRUeGNCZXz0aTl+1S9NpBUrKb9ICbpZMWZ3BhHrT7w==" crossorigin="anonymous" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/gg-icons/compiled/icons.css" rel="stylesheet">
    

    <title>Novo/Editar recurso - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}" >
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    

    <!-- Link to TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/agr3kxwxb5hnsedd9yd0re9bxz0346mtqq1xe1u6ethrlj9a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    
    <style>
        .container2 {
            background-image: url('static/images/new-form-bg.jpg');
            background-size: cover; /* Adjust the background size */
            background-position: center; /* Center the background image */
            text-align: center; /* Center the text horizontally */
            padding: 40px 0; /* Add padding for better spacing */
            color: #fff; /* Change text color to white for better contrast */
            height: 80px;
        }
        .required {
            position: relative;
        }
        
        .required::after {
            content: '*';
            position: absolute;
            top: 0;
            right:absolute;
            color: red;
            font-size: 1.4rem;
            line-height: 0.3;
        }
        /* Container for hidden inputs with consistent styling */
        .hidden-input-container {
            margin: 20px 0;
        }

        /* Style for input fields */
        .hidden-input-container input[type="text"],
        .hidden-input-container input[type="file"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            box-sizing: border-box;
            display: block; /* Ensures the input takes full width within its container */
        }

        /* Placeholder styling */
        .hidden-input-container input::placeholder {
            color: #888;
            font-style: italic;
        }

        /* Visible state styles for better user experience */
        .hidden-input-container.visible {
            display: block;
        }
        

    </style>

    
</head>
<body>
    <div class="header-governo">
        <img src="static/images/logo.GOV-AZORES.2019.png" alt="Governo dos Açores">
        <span> Esta é uma presença oficial do <a href="https://portal.azores.gov.pt">Governo dos Açores</a> </span>
    </div>
    <header>
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">
            </a>
            <!-- second div , above the header div with background image-->
            
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                </ul>
            </nav>
            <nav class="top-nav">
                <ul>
                    {% if admin %}
                        <!-- Render admin-specific links or buttons -->
                        <li><a href="/myaccount">Minha Conta</a></li>

                        <li><a href="/dashboard" target="_blank">Administração</a></li>
                        <li><a href="/logout">Sair</a></li>
                    {% else %}
                        <!-- Render non-admin links or buttons -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registar</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="container2">
        <h1>Novo recurso</h1>
        <p>Detalhes > Metadados </p>
    </div>
    <main>
        <div class="container">
        <form  method="POST" enctype="multipart/form-data">

            <h1>Detalhes</h1>
            <div class="input-group required">
                <h2>Título:</h2>
                <textarea id="titulo" name="titulo" rows="3" class="tinymce"></textarea>
            </div>
            <div class="input-group-aut required">
                <h2>Autor/fonte:</h2>
                <input type="text" id="autor" name="autor" placeholder="Nome do autor/fonte do recurso" required>
            </div>
            <div class="input-group-org required">
                <h2>Organização:</h2>
                <input type="text" id="organizacao" name="organizacao" placeholder="Escola/organização/nome do sítio do autor do recurso" required>
            </div>
            <div class="input-group-format required">
                <h2>Formato (MAX. 2):</h2>
                {% for formato in formatos %}
                    <input type="checkbox" id="formato{{ loop.index }}" name="formato" value="{{ formato }}">
                    <label for="formato{{ loop.index }}">{{ formato }}</label>
                {% endfor %}
            </div>
            <div class="input-group-local required">
                <h2>Localização do recurso:</h2>
                    <input type="radio" id="localizacao1" name="localizacao" value="Opção 1">
                    <label for="localizacao1">Endereço e/ou código de incorporação</label>
                    <input type="radio" id="localizacao2" name="localizacao" value="Opção 2">
                    <label for="localizacao2">Ficheiro</label>

                    <div id="enderecoInput" style="display: none;">
                        <input type="text" id="endereco" name="endereco" placeholder="Digite o endereço">
                    </div>
                    <div id="embebdInput" style="display: none;">
                        <input type="text" id="embebed" name="embebed" placeholder="Digite o codigo de incorporação">
                    </div>

                    <div id="fileInput" style="display: none;">
                        <input type="file" id="file" name="file">
                    </div>

                <!-- Add more radio options as needed -->
            </div>
            <div class="input-group-use required">
                <h2>Modos de Utilização:</h2>
                {% for modo in use_mode %}
                    <input type="checkbox" id="modo{{ loop.index }}" name="use_mode" value="{{ modo }}">
                    <label for="modo{{ loop.index }}">{{ modo }}</label>
                {% endfor %}
            </div>
            <div class="input-group-req required">
                <h2>Requisitos Técnicos:</h2>
                {% for requirement in requirements %}
                    <input type="checkbox" id="requirement{{ loop.index }}" name="requirements" value="{{ requirement }}">
                    <label for="requirement{{ loop.index }}">{{ requirement }}</label>
                {% endfor %}
            </div>
            <div class="input-group-descricao-proposta required">
                <h2>Descrição do recurso:</h2>
                <div id="editor-container" style="height: 300px;"></div>
                <textarea id="descricao" name="descricao" style="display: none;"></textarea>
                <div id="counter"></div>
                <small class="small-text">Deve ter no mínimo 20 caracteres e no máximo 1500</small>
            </div>
            <div class="input-group-lang required">
                <h2>Idiomas:</h2>
                {% for idioma in idiomas %}
                    <input type="radio" id="idioma{{ loop.index }}" name="idiomas" value="{{ idioma }}">
                    <label for="idioma{{ loop.index }}">{{ idioma }}</label>
                {% endfor %}
            </div>
            <div class="input-group-fich">
                <h2>Imagem de destaque:</h2>
                <label class="file-label" for="ficheiro">
                    <input type="file" id="ficheiro" name="ficheiro" class="file-input" onchange="updateFileName()">
                    <span class="file-custom-text">Escolha um arquivo</span>
                    <span class="file-name">Nenhum arquivo selecionado</span>
                </label>
            </div>
            
            
            <small class="small-text">
                <span class="text-danger">*</span>
                Campo obrigatório
            </small>
            
            <button type="submit">Continuar</button>
            <button onclick="window.location.href='/'">Cancelar</button>
        </form>

        </div>
    </main>

    
     <!-- Footer -->
     <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/ajuda">Ajuda</a>
                <a href="#">Ficha Técnica</a>
                <a href="/politica-privacidade">Política de Privacidade</a>
                <a href="/faleconnosco">
                    <button>Fale connosco</button>
                </a>

            </div>
            
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
            
            <div class="additional-images">
                <img src="static/images/dre_transparent.png" alt="Image 1">
                <img src="static/images/gov_acores_transparent.png" alt="Image 2">
            </div>
            <span> © Direção Regional da Educação - Secretaria Regional da Educação e dos Assuntos Culturais </span>

        </div>
    </footer>
    <script>
        const localizacao1 = document.getElementById('localizacao1');
        const localizacao2 = document.getElementById('localizacao2');
        const enderecoInput = document.getElementById('enderecoInput');
        const fileInput = document.getElementById('fileInput');

        localizacao1.addEventListener('change', function() {
            if (this.checked) {
                enderecoInput.style.display = 'block';
                embebdInput.style.display = 'block';
                fileInput.style.display = 'none';
            }
        });

        localizacao2.addEventListener('change', function() {
            if (this.checked) {
                enderecoInput.style.display = 'none';
                fileInput.style.display = 'block';
            }
        });
        

    </script>

    
    <script>
        var quill = new Quill('#editor-container', {
            theme: 'snow',  // Use 'snow' theme for a cleaner editor interface
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['link', 'image'],
                    ['clean']                                         // Remove formatting button.
                ]
            }
        });
    
        // Sync Quill's content to the hidden textarea
        quill.on('text-change', function() {
            document.getElementById('descricao').value = quill.root.innerHTML;
            updateCounter();
        });
    
        // Function to update the character counter
        function updateCounter() {
            const maxLength = 1500;
            const content = quill.getText().trim();
            const currentLength = content.length;
            const counterEle = document.getElementById('counter');
            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        }
    </script>
    <script>
        function updateFileName() {
            const fileInput = document.getElementById('ficheiro');
            const fileNameSpan = document.querySelector('.file-name');
            const file = fileInput.files[0]; // Get the first file
        
            if (file) {
                fileNameSpan.textContent = file.name; // Display the file name
            } else {
                fileNameSpan.textContent = 'Nenhum arquivo selecionado'; // Default text if no file selected
            }
        }
    </script>
        
</body>
</html>