<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/gg-icons/compiled/icons.css" rel="stylesheet">
    <style>
        .checked {
            color: orange;
        }
        .rating {
            color: #ffc107;
            font-size: 10px;
            text-align: center;
        }
        .year-cycle {
            font-size: 10px;
            color: #333;
            text-align: center;
        }
        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center;
            margin-bottom: 10px;
        }
        
        .pagination a {
            color: #333;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color 0.3s;
            border: 1px solid #ccc;
            margin: 0 5px;
            border-radius: 5px;
        }
        
        .pagination a.active {
            background-color: #aec03f;
            color: white;
        }
        
        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #000;
        }
        
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .areas-resources {
            position: absolute;
            top: 10px; /* Adjust this value to move text slightly above the image */
            left: 10px; /* Adjust this value as needed for horizontal positioning */
            background: rgba(0, 0, 0, 0.7); /* Darker background */
            padding: 5px; /* Optional: add padding for better readability */
            border-radius: 5px; /* Optional: rounded corners */
            font-size: 0.8em; /* Adjust font size as needed */
            color: #fff; /* White text color for contrast */
        }

        

        

       

        
    </style>
</head>
<body>
    <div class="header-governo">
        <img src="{{ url_for('static', filename='images/logo.GOV-AZORES.2019.png') }}" alt="Governo dos Açores">
        <span>Esta é uma presença oficial do <a href="https://portal.azores.gov.pt">Governo dos Açores</a></span>
    </div>
    <header>
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda" style="width: 200px; height: auto;">
            </a>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                    <li>
                        <button class="resource-button" onclick="location.href='/resources'">
                            <i class="fa fa-search"></i> Recursos
                        </button>
                    </li>
                    {%if admin%}
                    <li>
                        <button class="resource-button" onclick="location.href='/novorecurso'">
                            <i class="fa fa-plus"></i> Introduzir recurso
                        </button>
                    </li>  
                    {%endif%}
                </ul>
            </nav>
            <nav class="top-nav">
                <ul>
                    {% if admin %}
                        <!-- Render admin-specific links or buttons -->
                        <li><a href="/myaccount">Minha Conta</a></li>

                        <li><a href="/dashboard" target="_blank">Administração</a></li>
                        <li><a href="/logout">Sair</a></li>
                    {% else %}
                        <!-- Render non-admin links or buttons -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registar</a></li>
                    {% endif %}
                </ul>
            </nav>
            <form action="{{ url_for('resources') }}" method="get" class="search-container">
                <input type="text" name="search" placeholder="Procurar recursos..." value="{{ search_term }}">
                <button type="submit"><i class="fa fa-search"></i> Pesquisar</button>
                <!-- Clear Button -->
                <button type="submit" id="clearSearch"><i class="fa fa-times"></i> Limpar</button>
            </form>
            
            
            <button id="advancedSearchBtn" onclick="toggleAdvancedSearch()">Pesquisa Avançada <i class="fas fa-caret-down"></i></button>
            <div id="advancedSearchOptions" style="display: none;">
                <hr></hr>

                <!-- Add your advanced search options here -->
                <label for="years">Anos:</label>
                <select id="years">
                    <option value="option1">Opção 1</option>
                    <option value="option2">Opção 2</option>
                    <!-- Add more options as needed -->
                </select>
                <label for="subjects">Disciplinas:</label>
                <select id="subjects">
                    <option value="option1">Opção 1</option>
                    <option value="option2">Opção 2</option>
                    <!-- Add more options as needed -->
                </select>
                <label for="domains">Domínios/temas:</label>
                <select id="domains">
                    <option value="option1">Opção 1</option>
                    <option value="option2">Opção 2</option>
                    <!-- Add more options as needed -->
                </select>
                <label for="subdomains">Subdominios:</label>
                <select id="subdomains">
                    <option value="option1">Opção 1</option>
                    <option value="option2">Opção 2</option>
                    <!-- Add more options as needed -->
                </select>
                <label for="concepts">Conceitos:</label>
                <select id="concepts">
                    <option value="option1">Opção 1</option>
                    <option value="option2">Opção 2</option>
                    <!-- Add more options as needed -->
                </select>
                <!-- Add more advanced search fields as needed -->
                <button>Limpar pesquisa</button>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <p>Início > Recursos</p>
            {% if admin %}
            <a href="/novorecurso" class="resource-link">
                <button class="resource"><i class="fa fa-plus"></i> Introduzir recurso</button>
            </a>
            {% endif %}
            <h3>{{ total_resources }} Resultados</h3>
            <div class="order-resources">
                <label for="order">Ordenar por:</label>
                <select id="order">
                    <option value="recent">Mais recentes</option>
                    <option value="rated">Mais avaliados</option>
                </select>
            </div>
            <hr>
            <div class="rectangles">
                {% for resource in all_resources %}
                <div class="rectangle {% if not admin %} smaller-rectangle {% endif %}">
                    {% if resource.image_url %}
                    <img src="{{ resource.image_url }}" alt="Resource Image">
                    {% else %}
                    <div class="video-container">
                        {{ resource.embed | safe }}
                    </div>
                    {% endif %}
                    <div class="image-container">
                        {% for script_id, script in resource.details.scripts_by_id.items() %}
                            <div class="areas-resources">
                                {{ resource.areas_resources_display }}
                            </div>
                        {% endfor %}
                    </div>
                   
                    <h2>
                        {% if resource.title|length > 25 %}
                        {{ resource.title[:25] | strip_html ~ '...' }}
                        {% else %}
                        {{ resource.title | strip_html }}
                        {% endif %}
                    </h2>
                    <p>
                        {% if resource.description|length > 100 %}
                        {{ resource.description[:100] | strip_html ~ '...' }}
                        {% else %}
                        {{ resource.description | strip_html }}
                        {% endif %}
                    </p>
                    <div class="buttons">
                        <a href="/resources/details/{{ resource.id }}"><button>Ver recurso</button></a>
                        {% if admin %}
                        <a href="/resources/edit/{{ resource.id }}"><button>Editar recurso</button></a>
                        <a href="/novaproposta/{{ resource.slug }}"><button>Adicionar proposta de operacionalização</button></a>
                        {% endif %}
                    </div>
                    
                    <p class="created_at">{{ resource.created_at }}</p>
                    


                
                    {% if resource.details and resource.details.formato_title %}
                    <p class="formato_title">{{ resource.details.formato_title | strip_html }}</p>
                    {% if resource.details and resource.details.formato_title %}
                        {% if resource.details.formato_title == 'Vídeo/Animação' %}
                            <p class="formato_title video">
                                {{ resource.duration | strip_html }}
                            </p>
                        {% endif %}
                    {% endif %}

                    {% set ciclos = [] %}

                    {% for script_id, script in resource.details.scripts_by_id.items() %}
                        {% if '1.º' in script.anos_resources or '2.º' in script.anos_resources or '3.º' in script.anos_resources or '4.º' in script.anos_resources %}
                            {% set _ = ciclos.append('1º ciclo') %}
                        {% endif %}
                        {% if '5.º' in script.anos_resources or '6.º' in script.anos_resources %}
                            {% set _ = ciclos.append('2º ciclo') %}
                        {% endif %}
                        {% if '7.º' in script.anos_resources or '8.º' in script.anos_resources or '9.º' in script.anos_resources %}
                            {% set _ = ciclos.append('3º ciclo') %}
                        {% endif %}
                        {% if '10.º' in script.anos_resources or '11.º' in script.anos_resources or '12.º' in script.anos_resources %}
                            {% set _ = ciclos.append('Secundário') %}
                        {% endif %}
                    {% endfor %}

                    {% set unique_ciclos = ciclos | unique %}

                    <div class="ciclo-container">
                        {% if unique_ciclos %}
                            <p class="ciclo">{{ unique_ciclos | join(', ') }}</p>
                        {% else %}
                            <p class="ciclo">No cycle information found</p>
                        {% endif %}
                    </div>






                    {% endif %}
                </div>
                {% endfor %}
            </div>
    
            <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('resources', page=1, search=search_term) }}">Início</a>
                    <a href="{{ url_for('resources', page=page-1, search=search_term) }}">Anterior</a>
                {% endif %}
                
                {% for p in page_range %}
                    <a href="{{ url_for('resources', page=p, search=search_term) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a>
                {% endfor %}
                
                {% if page < total_pages %}
                    <a href="{{ url_for('resources', page=page+1, search=search_term) }}">Próximo</a>
                    <a href="{{ url_for('resources', page=total_pages, search=search_term) }}">Último</a>
                {% endif %}
            </div>
            
        </div>
    </main>
    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/privacidade">Privacidade</a>
                <a href="/contactos">Contactos</a>
                <a href="/ajuda">Ajuda</a>
            </div>
            <div class="footer-info">
                <p>Governo dos Açores | Secretaria Regional da Educação e dos Assuntos Culturais</p>
                <p>&copy; 2024 Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
    <script>
        // Get all elements with class 'created_at'
        const createdAtElements = document.querySelectorAll('.created_at');
        
        // Array of month names in Portuguese
        const months = ["janeiro", "fevereiro", "março", "abril", "maio", "junho", 
                        "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"];
        
        // Loop through each element and format its date
        createdAtElements.forEach(element => {
            // Extract the date string
            const dateString = element.textContent.trim();
            
            // Convert the date string to a JavaScript Date object
            const date = new Date(dateString);
            
            // Format the date in the desired format
            const formattedDate = `${date.getDate()} ${months[date.getMonth()]} ${date.getFullYear()}`;
            
            // Update the content of the element with the formatted date
            element.textContent = formattedDate;
        });
    </script>

    <script>
        function toggleAdvancedSearch() {
            var options = document.getElementById('advancedSearchOptions');
            if (options.style.display === 'none') {
                options.style.display = 'block';
            } else {
                options.style.display = 'none';
            }
        }
    </script>
    <script>
        document.getElementById('clearSearch').addEventListener('click', function() {
            // Clear the search input field
            document.querySelector('input[name="search"]').value = '';
            
            // Redirect to the resources page without the search query
            window.location.href = "{{ url_for('resources') }}";
        });
    </script>
    
</body>
</html>