<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ferramentas - REDA</title>
    <link rel="icon" href="{{ url_for('static', filename='images/REDA_logo.ico') }}" >

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-form.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/gg-icons/compiled/icons.css" rel="stylesheet">
    <style>
        header {
            background-image: url('static/images/hints-bg.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
            background-size: cover;
            background-position: center;
            height: 250px; /* Adjust the height as needed */
            position: relative;
        }

        /* Style for modal */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Additional styles for read more button */
        .readmore {
            background-color: #83ae03;
            color: #fff;
            border: 1px solid #83ae03;
            cursor: pointer;
            font-size: 13px;
            text-align: center;
            padding: 8px 16px;
            margin-top: 10px;
            transition: background-color 0.3s, color 0.3s;
        }

        .readmore:hover {
            background-color: #6c9201;
        }

    </style>
    
</head>
<body>
    <div class="header-governo">
        <img src="static/images/logo.GOV-AZORES.2019.png" alt="Governo dos Açores">
        <span> Esta é uma presença oficial do <a href="https://portal.azores.gov.pt">Governo dos Açores</a> </span>
    </div>
    <!-- Header -->
    <header>
        <div class="container">
            <a href="/">
                <img src="{{ url_for('static', filename='images/REDA_logo.png') }}" alt="logo-reda">
            </a>            <!-- Search bar -->
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/apps">Aplicações</a></li>
                    <li><a href="/tools">Ferramentas</a></li>
                    <li>
                        <button class="resource-button" onclick="location.href='/resources'">
                            <i class="fa fa-search"></i> Recursos
                        </button>
                    </li>                    
                    <li>
                        <button class="resource-button" onclick="location.href='/novorecurso'">
                            <i class="fa fa-plus"></i> Introduzir recurso
                        </button>
                    </li>  
                </ul>
            </nav>
            <div class="container2">
                <h1>Ferramentas</h1>
                <p>Consulte a nossa lista de “Ferramentas”, que poderá facilitar a utilização de recursos educativos digitais e a navegação na Internet.</p>
                <a href="/novaferramenta"><button>Introduzir ferramenta</button></a>

                
            </div>
           
            <nav class="top-nav">
                <ul>
                    <!--
                    <li><a href="#" onclick="openLoginModal()">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help</a></li>
                    -->

                    <li><a href="/ajuda">Ajuda</a></li>
                    <li><a href="/myaccount">Minha Conta</a></li>
                    <li><a href="/dashboard" target="_blank">Administração</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <p>Início > Ferramentas</p>

            <div class="filter-bar">
                <h2>Filtrar por...</h2>
                <input type="text" placeholder="Palavras-chave...">
                <button class="search-button"><i class="fas fa-search"></i> Filtrar palavras</button>
                <button class="clear-button"> Limpar Filtros </button>
            </div>
            <hr></hr>

            <div class="rectangles">
                {% for tool in all_tools %}
                <div class="rectangle">
                    <h2>{{ tool.title }}</h2>
                    <p>
                        {% if tool.description|length > 280 %}
                        <span class="short-description">{{ tool.description[:220]|escape }} ...</span>
                        <span class="full-description" style="display: none;">{{ tool.description|escape }}</span>
                        <button class="
                        more">Ler mais</button>
                        {% else %}
                        {{ tool.description|escape }}
                        {% endif %}
                    </p>
                    <div class="button-container">
                        <button class="open-path" data-modal-id="openPathModal-{{ loop.index }}">Abrir endereço</button>
                    </div>
                </div>
                
                <div id="openPathModal-{{ loop.index }}" class="modal">
                    <div class="modal-content">
                        <h2>Está a sair do sítio REDA</h2>
                        <p>Está a sair do sítio REDA da Direção Regional de Educação dos Açores. A DRE não se responsabiliza nem tem qualquer controlo sobre as opiniões expressas ou a informação externa à plataforma. Os termos e condições bem como as políticas de privacidade da plataforma REDA não se aplicam à página que irá aceder.</p>
                        <p>Obrigado por nos visitar e volte sempre!</p>
                        <div class="button-container">
                            <a href="{{ tool.link }}" class="compreendi" target="_blank">Compreendi</a>
                            <button class="close-modal">Não, obrigado</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                

            </div>

            <!-- Pagination -->
            <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('tools', page=page-1) }}">Anterior</a>
                {% endif %}
                
                {% for p in page_range %}
                    <a href="{{ url_for('tools', page=p) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a>
                {% endfor %}
                
                {% if page < total_pages %}
                    <a href="{{ url_for('tools', page=page+1) }}">Próximo</a>
                {% endif %}
            </div>

            <div id="toolModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 id="modalTitle"></h2>
                    <p id="modalDescription"></p>
                </div>
            </div>

            
            
        </div>
    </main>

    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <h2>Login</h2>
            <form>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <!-- Register Modal -->
    <div id="RegisterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeRegisterModal()">&times;</span>
            <h2>Register</h2>
            <form>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <!-- Modal popup -->
    
    

    <!-- Footer -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-nav">
                <a href="/sobre">Sobre</a>
                <a href="/ajuda">Ajuda</a>
                <a href="#">Ficha Técnica</a>
                <a href="/politica-privacidade">Política de Privacidade</a>
                <a href="/faleconnosco">
                    <button>Fale connosco</button>
                </a>

            </div>
            
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
            
            <div class="additional-images">
                <img src="static/images/dre_transparent.png" alt="Image 1">
                <img src="static/images/gov_acores_transparent.png" alt="Image 2">
            </div>
            <span> © Direção Regional da Educação - Secretaria Regional da Educação e dos Assuntos Culturais </span>

        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tool_modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/open_path.js') }}"></script>
    <script>
        // Function to open the modal
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "block";
            document.body.style.overflow = "hidden"; // Prevent scrolling

        }

        // Function to close the modal
        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.style.display = "none";
            document.body.style.overflow = "auto"; // Allow scrolling

        }
        // Get the login modal
        var loginModal = document.getElementById("loginModal");

        // When the user clicks the button, open the login modal
        function openLoginModal() {
            loginModal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the login modal
        function closeLoginModal() {
            loginModal.style.display = "none";
        }
        // Get the login modal
        var RegisterModal = document.getElementById("RegisterModal");

        // When the user clicks the button, open the login modal
        function openRegisterModal() {
            RegisterModal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the login modal
        function closeRegisterModal() {
            RegisterModal.style.display = "none";
        }
        
    </script>
</body>
</html>
